<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background">

  <h2 class="otsikko">Menu</h2>

  <ion-button color="medium" expand="full" size="large" onclick="location.href='/'">Home</ion-button>
  <ion-button color="medium" expand="full" size="large" onclick="location.href='/recipes'">Recipes</ion-button>
  <ion-button color="medium" expand="full" size="large" onclick="location.href='/my-recipes-page'">My Recipes</ion-button>
  <ion-button color="medium" expand="full" size="large" onclick="location.href='/about'">About</ion-button>
  <ion-button color="medium" expand="full" size="large" onclick="location.href='/contact'">Contact</ion-button>

</ion-content>
