ion-tab-bar {
    --background: transparent;
    --ion-color-base: transparent !important;
    position: absolute;
    top: 0px;
    width: 100%;
    --color: #b9b9b9;
    ion-tab-button{
        --background: transparent;
        
    }
    
}