<ion-content class="background">

    <h2 class="otsikko">Menu</h2>
    <ion-button color="medium" expand="full" size="large" onclick="">My profile</ion-button>
    <ion-button color="medium" expand="full" size="large" onclick="">Recipes</ion-button>
    <ion-button color="medium" expand="full" size="large" onclick="">My Recipes</ion-button>
    <ion-button color="medium" expand="full" size="large" onclick="">About</ion-button>
    <ion-button color="medium" expand="full" size="large" onclick="">Contact</ion-button>

</ion-content>
